.card {
  background: rgba(255, 255, 255, 0.85);
  color: #5a2a2a;
  gap: 10px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 900px;
  margin: 0 auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title-card {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

.list-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  text-align: left;
  font-size: 1rem;
}

.list-card h2 {
  text-align: right;
  margin: 0;
}

.list-card ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.gaming-dashboard-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.gaming-dashboard-list .card {
  flex: 1 1 300px;
  max-width: 420px;
  height: 80px;
}
.gaming-dashboard-list .card ul {
  font-size: 0.9rem;
  line-height: 1.3;
  padding-left: 20px;
  color: #7a3b69;
}

.gaming-dashboard-list .card ul li {
  margin-bottom: 6px;
  color: #7a3b69;
}

.milestones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 900px;
  margin: 10px auto;
  justify-content: center;
}

.milestone-card {
  background: rgba(255, 255, 255, 0.9);
  color: #7a3b69;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 300px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.milestone-card h2,
.milestone-card .card-title {
  color: #7a3b69;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.milestone-card p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
